/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
  background: url("bgm.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
color:white;
  text-align: center;
  margin: 0;
  padding: 0;
  /* background:#e772a3; */
  height: 90vh;
  text-align: center;
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
li{
  list-style: none;
}
#SquareGrid{
  text-align: center;
}

/* #boardcalled{
  text-align: center;
  padding-left: 25%;
} */

.status {
  font-size: 20px;
  background:linear-gradient(to right, #eea915, hsl(202, 73%, 43%));
  color: #fff; 
  display: inline-block;
  font-weight: bold;
  word-spacing: 5px;
  margin-bottom: 15px;
  width: 22rem;
  border-radius: 20px;
}

#description{
  text-align: left;
  border: 1px solid;
  border-radius: 10px;
}
img{
  float:right;
}
.squareGrid {
  background-color: #f715152f;
  padding: 8px;
  font-size: 3em;
  text-align: center;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  display: block;
  
}

.main-board {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.circle {
   border-radius: 100%;
   padding-top: 98%;
   animation-iteration-count: 1;
  animation-name: add-coin;
  animation-duration: .2s; 

}
#boardcalled{
  border: 1px solid ;
  
}

.btn-restart {
  margin-top: 1.7rem;
  border: none;
  cursor: pointer;
  display: inline-block;
  height: 4rem;
  width: 20rem;
  color: #fff;
  border-radius:100px;
  
  font-size: 1.5rem;
  transition: all ease 0.3s;
  /* color: #fff; */
  outline: none;
  background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ce507a, #c7243f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius: 20px;
}
.btn-restart:hover {
  text-decoration: none;
  border: 3px solid #d6386d;
  background: #3867d6;
}  





@media screen and (min-width: 320px) and (max-width: 669px){
  .squareGrid {
    padding: 5px;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
  }
  .btn-restart {
    text-align: center;
    margin-top: 2.0rem;
    border: none;
    cursor: pointer;
    display: inline-block;
    height: 2rem;
    width: 10rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
  
  }

  .btn-restart:hover {
    text-decoration: none;
    border: 1px solid bisque;
    background:#ce507a;
  }  
  .status {
    width: 10rem; }

}
#GridRows{
  padding-left: 30%;
}

@media screen and (min-width: 360px) and (max-width: 640px){

  .squareGrid {
    padding: 4px;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 568px){
  .squareGrid {
    padding: 3px;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    width: 2rem;
    height: 2rem;   
  }
}

